<div class="bottom-0 bg-secondary w-full flex flex-col">
    <iov-card [ctaUrl]="'hello'"
              class="mr-8 ml-8 relative -top-12">
     <span left>
       <span class="text-accent"> Talk is cheap</span>
     </span>
      <span center>
        Interested in working together? <br/> We should queue up a <b class="text-accent">time to chat</b>. <br/>I’ll buy the coffee :)
      </span>
      <span right>
        Let's Talk!
      </span>
    </iov-card>
  <div class="text-center text-white p-4">
    Footer
    Website made with etc...
  </div>
</div>
