<iov-section [title]="'Portfolio'"
             [backgroundImageUrl]="'/assets/green.JPG'">

  <a href="https://imgflip.com/i/8aw8ki"><img alt="" ngSrc="https://i.imgflip.com/8aw8ki.jpg"
                                              width="500" height="500" class="mx-auto"
                                              title=""/></a>
  <div class="items-center text-center flex flex-col">
    <h2 class="text-warning text-2xl font-bold mt-4">⚠️I accept the risk to get a non-complete portfolio experience ⚠️</h2>
    <a href="/portfolio" class="text-lg px-12 py-4 rounded-full mt-4 font-bold
                        ring-white text-white bg-secondary ring-2
                        hover:ring-accent hover:text-accent hover:bg-transparent hover:ring-2">I've no fear! Bring me to Mordor</a>
  </div>
</iov-section>
