<div class="bg-secondary">
  <div class="relative px-6 lg:px-8">
    <div class="mx-auto max-w-6xl">
        <div class="flex rounded-2xl text-base leading-6 text-gray-600 border-l-8 border-primary hover:ring-gray-900/20 overflow-hidden bg-white items-end">
          <iov-ascii-photo [index]="1"
                         id="asciiPhoto"
                         class="hidden sm:block absolute text-[5px] rounded-x-2xl leading-none tracking-tighter overflow-hidden"></iov-ascii-photo>
          <img ngSrc="/assets/photos/me.png"
               id="originalPhoto"
               priority="true"
               rel="preload"
               class="h-[279px] hidden sm:block "
               alt="Photo of me" height="300" width="300">
          <div class="self-center pt-6 sm:pt-0 mx-2 sm:mx-0 ">
            <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl sm:py-8 sm:top-8 mt-4 sm:mt-0 mb-2 sm:mb-0 break-words block sm:hidden mx-2">Hey, I'm Lorenzo!</h1>
            <div class="flex justify-center">
              <img ngSrc="/assets/photos/me.png"
                   priority="true"
                   rel="preload"
                   class="sm:hidden block clear-both"
                   alt="Photo of me" height="300" width="300">
            </div>
            <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl sm:py-8 sm:top-8 mt-4 sm:mt-0 mb-2 sm:mb-0 break-words hidden sm:block">Hey, I'm Lorenzo!</h1>
            <div class="mx-auto sm:mr-8">
              <h2 class="text-lg mr-4 ml-4 sm:ml-0 sm:mx-4 sm:text-xl leading-2 sm:mr-24 mt-4 sm:mt-0 text-left">
                I'm on a quest to uncover life's meaning while diving deep into my passion for Computer Science as a
                <span class="text-primary font-bold drop-shadow-sm">Software Engineer</span>.
                <br>Here, on my personal website, I share my projects and occasional thoughts.
              </h2>

              <div class="text-lg mt-4 ml-4 sm:ml-0 mr-4 sm:mx-4 sm:text-xl leading-2 sm:mr-24 text-left">
                Explore more about me and feel free to reach out for any questions or collaborations via
                <a class="cursor-pointer underline text-primary hover:text-accent drop-shadow-sm" href="mailto:thisloke@gmail.com">email</a>
                or on socials!
              <div>
            </div>
            </div>
              <div class="flex justify-center sm:justify-end h-[60px] mt-4">
                <a class="mx-2 relative cursor-pointer" href="https://www.linkedin.com/in/lorenzoiovino/">
                  <img ngSrc="/assets/linkedin.svg" class="h-10 sm:h-8 inline-block" height="30" width="30" loading="lazy" alt="Linkedin Logo">
                </a>
                <a class="mx-2 relative cursor-pointer" href="
              https://github.com/thisloke">
                  <img ngSrc="/assets/github.svg" class="h-10 sm:h-8 inline-block" height="30" width="30" loading="lazy" alt="Github Logo">
                </a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
