<div class="bg-secondary">
  <div class="relative px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-4xl py-32 sm:py-48 lg:py-56">
        <div class="flex rounded-2xl text-sm leading-6 text-gray-600 border-l-8 border-primary hover:ring-gray-900/20 overflow-hidden bg-white max-h-[279px]">
            <iov-ascii-photo [index]="1"
                           id="asciiPhoto"
                           class="absolute text-[5px] rounded-x-2xl leading-none tracking-tighter overflow-hidden"></iov-ascii-photo>
          <img ngSrc="/assets/photos/me.png"
               id="originalPhoto"
               class="h-[279px]"
               alt="" height="300" width="300">
          <div class="self-center">
            <h1 class="text-4xl my-2 font-bold tracking-tight text-gray-900 sm:text-4xl">Hey, I'm Lorenzo!</h1>
            <div class="">
              <h2 class="text-base leading-2 mr-4">
                I'm on a quest to uncover life's meaning while diving deep into my passion for Computer Science as a <span class="text-primary font-bold">Software Engineer</span>.
                <br>Here, on my personal website, I share my projects and occasional thoughts.
              </h2>

              <div class="mt-4 text-base leading-2 mr-4">
                Explore more about me and feel free to reach out for any questions or collaborations via email
                <a class="cursor-pointer underline text-primary hover:text-accent" href="mailto:thisloke@gmail.com">email</a>
                or on socials!
                <a class="mx-2 relative cursor-pointer" href="https://www.linkedin.com/in/lorenzoiovino/">
                  <img ngSrc="/assets/linkedin.svg" class="h-6 inline-block" alt="" height="30" width="30">
                </a>
                <a class="mx-1 relative cursor-pointer" href="
              https://github.com/lokenxo">
                  <img ngSrc="/assets/github.svg" class="h-6 inline-block" alt="" height="30" width="30">
                </a>
              <div>
            </div>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
