<iov-section [title]="'About me'"
             [titleColor]="'light'"
             [backgroundImageUrl]="'/assets/cat.jpg'">
  <div class="mb-10">
    <h2 class="font-bold text-4xl mt-8 mb-4">Hello world!</h2>
    <p class="text-lg">
      Hello! I'm Lorenzo Iovino, and i hope that i would be something more that only a "Software Engineer" (that's my job and one of my passions)<br/>
      I'm embarking on an exhilarating journey that began back in December 1988 and continues to evolve with each passing day.
      <br />
      Join me on this riveting expedition where technology meets creativity, thoughts are shared, and passions are pursued. That's my life.
    </p>
  </div>

  <div class="mb-10">
    <h2 class="font-bold text-4xl mt-8 mb-4">Childhood Nostalgia 🧒</h2>
    <div class="text-lg">

      My love affair with technology sparked at the tender age of four when I delved into the realms of Prince of Persia on the Apple II.
      <div class="float-right mt-4 mb-2 sm:ml-8 w-60 sm:w-72">
        <img ngSrc="/assets/photos/me-baby.jpg" alt="Super young software developer with an Apple II" class="w-full sm:w-72 rounded-2xl shadow-lg"
             height="1415" width="1001" loading="lazy"/>
        <em class="text-sm leading-none">Super young software developer with an Apple II</em>
      </div>
      Fast forward to the present, and computers have seamlessly woven into the fabric of my professional life, while everything IT-related has become the heartbeat of my passion.<br/>
      Rewind to my childhood in Ispica, where I initially balanced my time between studying, playing video games, and kicking a football around with friends, it was a simple life, but it was a happy one. <br/>
      The town of Ispica is located in the south of sicily, and it's a place where time seems to stand still. The unhurried pace of life, the warmth of the people, and the breathtaking landscapes create a serene backdrop for my childhood memories. But it was something that i really hated when i was child, infact i was always dreaming to live in a big city, where i could find more opportunities.<br/><br/>
      <div class="float-left mb-2 mr-8">
        <img ngSrc="/assets/photos/pokemon.jpg" alt="Pokemon Yellow" class="w-64 rounded-2xl shadow-lg"
             height="339" width="339" loading="lazy"/>
        <em class="text-sm">Pokemon Yellow and Game Boy Advance</em>
      </div>
      The gaming sessions with friends extended to the world of Pokemon and Nintendo consoles, a phase that not only provided joy but also unraveled the mysteries of computer programming.<br/>
      At the age of 15, the discovery of rock music sparked a new passion, and I eagerly picked up a guitar to learn its rhythmic language and stunning solos.
      <br />
      <div class="float-right mb-2 mt-4 ml-8">
        <img ngSrc="/assets/photos/me-guitar-17.jpg" alt="Guitarist" class="w-64 rounded-2xl shadow-lg"
             height="348" width="512" loading="lazy"/>
        <em class="text-sm">My dream guitar "Fender stratocaster"</em>
      </div>
        The gaming and music universe made me a "nerd," leading to my fascination with understanding the intricacies of computers, programming languages, and the magic beneath the hood.<br/>
        At 17, I ventured into the realm of Magic: The Gathering, further enriching my interests. To this day, I continue to enjoy occasional matches in my spare time.
    </div>
  </div>

  <div class="mb-10">
    <h2 class="font-bold text-4xl mt-8 mb-4">University and Personal Growth 🏫</h2>
    <div class="text-lg">
      Educationally, I've left no stone unturned. <br/>
      I've immersed myself in the intricacies of computer science attending the Computer Science course at the University of Pisa, devouring books (not exactly the suggested ones for the class), retry
      <div class="float-right mt-4 mb-2 ml-8 w-60 sm:w-auto">
        <img ngSrc="/assets/photos/me-cc.jpg" alt="Me in Pisa" class="w-full sm:w-64 rounded-2xl shadow-lg"
             height="1280" width="960" loading="lazy"/>
        <em class="text-sm">Me burning out studying Computability and <br/>Complexity exam</em>
      </div>
      <span class="italic">N-times</span> the same exam and engaging in online courses and workshops in order to understand better what it's exactly computer science
      <span class="italic">(and i've still have a lot of doubdts regarding Computability and Complexity topic)</span>

      <br/>
      <br/>
      It's this insatiable appetite for knowledge and networking that fuels my perpetual quest for growth and it did it never surrender despite my long journey as a student (i took just 12 years to get my Bachelor of Arts).<br/><br/>
      Anyway, embarking on the journey that led me to the picturesque city of Pisa was not merely a pursuit of knowledge in computer science (the University of Pisa, with its rich history and academic excellence, provided the perfect backdrop for me to immerse myself in this world of endless possibilities); it was a harmonious convergence of two profound needs: computer science and the curiosity about the world (the non-digital one).
      <div class="float-left mt-4 mb-2 mr-8 w-full sm:w-auto">
        <img ngSrc="/assets/photos/goliardia.jpg" alt="My goliardo" class="w-full sm:w-64 rounded-2xl shadow-lg"
             height="384" width="512" loading="lazy"/>
        <em class="text-sm">My student hat (that's not an hat) "goliardo"</em>
      </div>
      <br/><br/>
      During my university years, I not only delved into the world of computer science but also embraced the richness of life's experiences; I spent considerable time getting to know people, immersing myself in the Goliardia culture, honing my taste buds through a wine Sommelier course, attending concert and meet all kind of people in music club borderline (that one I really loved to do), unlimited speech with perfect stranger during my "Aperitivo" around the city, sharing experience and learning everyday something new. <br/> This period of exploration ignited a passion for travel, opening my eyes to diverse cultures and expanding my horizons.
    </div>
  </div>

  <div class="mb-10">
    <h2 class="font-bold text-4xl mt-8 mb-4">Embarking on Hackathon Adventures 🚀</h2>
    <div class="text-lg">
      <div class="float-right mt-4 mb-2 ml-8">
        <img ngSrc="/assets/photos/me-moverio.jpg" alt="Me with moverio smart glasses" class="w-48 rounded-2xl shadow-lg"
             height="1280" width="960" loading="lazy"/>
        <em class="text-sm">Me wearing moverio smart glasses</em>
      </div>
      My journey into the world of hackathons began with one organized by <a class="underline text-accent" href="https://www.vargroup.it/">Vargroup</a>.<br/>
      The whole team was completly created there, nobody of us will know each other, but we all have shared a passion for technology, and together,
      we crafted a Proof of Concept software and a business plan (in 24 hours) for a revolutionary retail application focused on furniture sales.<br/>
      The application, designed for Epson Moverio Smartglass, allowed customers to virtually furnish their homes, creating a unique and immersive shopping experience.
      <br/><br/>
      This inaugural hackathon experience ignited my enthusiasm, leading me to participate in various other hackathons, including Hackaton Toscana for mobility and engaging in many other game jams. Each hackathon presented new challenges, fostering collaboration and pushing the boundaries of my skills. <br/>
      <div class="mb-2 w-full mt-4">
        <img ngSrc="/assets/photos/game-jam.jpg" alt="Me at global game jam presenting our game" class="w-full h-80 rounded-2xl shadow-lg object-cover"
             height="612" width="612" loading="lazy"/>
        <em class="text-sm">Me and the team presenting the game developed. <br/>Gameplay of our game "Oh No My Husband is coming" developed for GGJ 2015: <a href="https://www.youtube.com/embed/z1Kn6agAujI" class="text-accent underline">Youtube link</a></em>
      </div>
    </div>
  </div>

  <div class="mb-10">
    <h2 class="font-bold text-4xl mt-8 mb-4">Erasmus Project in Valencia 🌍</h2>
    <div class="text-lg">
        A pivotal chapter in my journey unfolded during my Erasmus project in the vibrant city of Valencia. I continued study Computer Science in the Universidad Politecnica
      <div class="mb-2 mt-4 mx-0 sm:ml-8 float-right">
        <img ngSrc="/assets/photos/valencia-turia.jpg" alt="Valencia turia" class="w-96 rounded-2xl shadow-lg"
        height="450" width="800" loading="lazy"/>
        <em class="text-sm">Beautiful sunny day in Valencia</em>
      </div>
      where i also meet a lot of people from all over the world, and i had the opportunity to learn a lot of things about different cultures and languages.<br/>
      The IT environment in Valencia was a stark contrast to the Italian landscape, offering a unique perspective on the world of technology, new startups and innovative companies were emerging in that period, and the city was a hotbed of innovation.<br/>
      Surrounded by the stunning blend of modern architecture and traditional Spanish charm, this cultural immersion not only enriched my academic pursuits but also offered a canvas for personal growth.
    </div>
  </div>

  <div class="mb-10">
    <h2 class="font-bold text-4xl mt-8 mb-4">Embracing the Tranquility of Sicily 🏡</h2>
    <div class="text-lg">
      Nestled in the heart of Sicily, my decision to return to my hometown wasn't just a homecoming; it was a deliberate choice to create a life where the pace of time mirrors the gentle ebb and flow of the Mediterranean waves. <br/>
      <div class="mb-2 mt-4 mr-8 float-left w-full sm:w-auto">
        <img ngSrc="/assets/photos/remote.jpg" alt="Remote working" class="w-full sm:w-64 rounded-2xl shadow-lg"
             height="2160" width="3840" loading="lazy"/>
        <em class="text-sm">Working remote watching the sea</em>
      </div>

      Transitioning from the bustling tech hubs to the serene landscapes of Sicily has been a profound and intentional shift. Rediscover the beauty of slowness and the joy of doing "nothing special" every day, and i've found a new balance between my professional and personal life.
      When the "nothing special" turn in "something special" and you can enjoy the beauty of the nature that surround you.<br/><br/>
      As a remote worker, I've found solace in the unhurried rhythm of life here. The island's charm lies not only in its breathtaking landscapes but also in the unhurried passage of time. <br/>
      Sicily has a unique way of making each moment feel like an eternity, a welcome departure from the frenetic pace of urban life. <br/>It's a place where the clock seems to pause, allowing me to savor every nuance of existence.<br/>
      <div class="mb-2 mt-4 w-full sm:w-auto">
        <img ngSrc="/assets/photos/dogs.jpg" alt="Dogs watch wineyard" class="w-full h-80 rounded-2xl shadow-lg object-cover"
             height="2160" width="3840" loading="lazy"/>
        <em class="text-sm">My wineyard</em>
      </div>
      Family plays a central role in my Sicilian life, in the pursuit of passions beyond the realms of technology, I embarked on a delightful side project alongside my sister (she's the agronomist).
      Together, we decided to make our wine, planting and growing up a wineyard in a waste terrain near the sea, so it birth <a href="https://netum.it/" class="text-accent underline">www.netum.it</a>, that's the culmination of our shared love for winemaking, and with only 1 hectar of wineyard, we produce a limited amount of bottles of a unique wine.
      <div class="mb-2 mt-4 ml-8 float-right">
        <img ngSrc="/assets/photos/wine.jpg" alt="Zia Lina wine" class="w-48 rounded-2xl shadow-lg"
             height="2160" width="3840" loading="lazy"/>
        <em class="text-sm">The wine produced "Zia Lina"</em>
      </div>
      <br/><br/>
      And then, of course, there's the food. Sicilian cuisine is a symphony of flavors that dance on the taste buds. Each bite is a celebration of the island's rich culinary heritage. The slow food movement isn't just a trend here; it's a way of life.<br/>Dining is an experience, a time to savor and appreciate the artistry that goes into every dish.<br/>
      <span class="italic">(i will not post any photo of food, because i'm not a food blogger, but trust me, it's really good).</span><br/><br/>

      In the midst of vineyards and olive groves, my life as a remote worker in Sicily is a testament to the beauty of simplicity.

      <br/>It's a daily reminder that success isn't just measured in code lines but also in the quality of life we cultivate. Sicily, with its unhurried pace, has become more than a backdrop for my career; it's a canvas on which I paint the vibrant tapestry of my life. Here, time may move slowly, but the impact is timeless. 🌿🍷🌞<br/>
      <div class="mb-2 mt-4 w-full sm:w-auto">
        <img ngSrc="/assets/photos/modica.jpg" alt="Modica view" class="w-full h-80 rounded-2xl shadow-lg"
             height="2160" width="3840" loading="lazy"/>
        <em class="text-sm">Modica view from my house</em>
      </div>
    </div>
  </div>

  <div class="mb-10">
    <h2 class="font-bold text-4xl mt-8 mb-4">Life at 35</h2>
    <div class="text-lg">
      Fast forward to the present day, where I've embraced the roles of a husband to my wonderful wife, Amanda, and a proud father of a little joy named Leonardo. <br/>Life's journey has woven a tapestry of experiences, blending the worlds of technology, family, and personal passions.<br/>
      <!--From here i'm starting sharing my experience and my knowledge with the world using this old-fashioned and anachronistic <a class="text-accent underline" href="blog">blog</a>, and i'm really excited to see what the future will bring to me.-->

      <div class="mb-2 mt-4 w-full sm:w-auto">
        <img ngSrc="/assets/photos/me-amanda.jpg" alt="Me and my wife" class="w-full h-80 rounded-2xl shadow-lg object-cover"
             height="2160" width="3840" loading="lazy"/>
        <em class="text-sm">Me and my wife Amanda</em>
      </div>
    </div>
  </div>
</iov-section>
