<iov-section [noHeight]="true">
  <h2 class="text-2xl font-bold my-8" *ngIf="posts.length > 0">Latest blog post</h2>
  <div class="grid grid-cols-3 justify-items-center bg-slate-100 gap-8">
    <div *ngFor="let post of posts.slice(0,3)">
      <iov-post-card [post]="post">
      </iov-post-card>
    </div>
    <a class="font-bold text-primary ring-secondary border-l-8" routerLink="/blog">View all posts</a>
  </div>
  <div class="text-center" *ngIf="posts.length === 0">
    <p class="text-base">No posts yet.</p>
    <br>
  </div>
</iov-section>
