<iov-section [noHeight]="true">
  <p class="text-center text-base">
  <h2 class="text-2xl font-bold my-8" *ngIf="posts.length > 0">Latest blog post</h2>
  <div class="grid grid-cols-3 justify-items-center bg-slate-100 gap-8">
    <div *ngFor="let post of posts">
      <iov-post-card [post]="post">
      </iov-post-card>
    </div>
  </div>
  <div class="text-center" *ngIf="posts.length === 0">
    <p class="text-base">No posts yet.</p>
  <br>
  <a class="text-base" routerLink="/blog">View all posts</a>
  </div>
</iov-section>
