<div class="bg-secondary mx-auto">
  <iov-hero></iov-hero>
</div>

<iov-arrow-scroll-down></iov-arrow-scroll-down>

<iov-section>
  <p class="text-center text-base">
    Lorem ipsum dolor sit amet, consectet adipiscing elit. Nulla ac dui euismod, aliquam nunc quis, tincidunt nisl. Donec euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, quis aliquam nunc nisl quis nunc. Nulla facilisi. Sed euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, quis aliquam nunc nisl quis nunc. Nulla facilisi. Sed euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, quis aliquam nunc nisl quis nunc. Nulla facilisi. Sed euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, quis aliquam nunc nisl quis nunc. Nulla facilisi. Sed euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, quis aliquam nunc nisl quis nunc. Nulla facilisi. Sed euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, quis aliquam nunc nisl quis nunc. Nulla facilisi. Sed euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, quis aliquam nunc nisl quis nunc. Nulla facilisi.</p>
  <br>
</iov-section>


